/*
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at http://mozilla.org/MPL/2.0/
 *
 * Copyright (C) 2008-2014, Peter Johnson (www.delphidabbler.com).
 *
 * Resource file containing the program icon and manifest resources for VIEd.
 */


/* Program icon */
MAINICON ICON "Assets\VIEd.ico"

/* Manifest file */
1 24 "Assets\VIEd.manifest"
